header{
	font-size: 1.5rem;
	z-index: 500;
	top:0;
}
header .navbar-brand{
	font-size: 2rem;
}

.cursor-pointer{
	cursor: pointer;
}

*::selection{
	background-color: var(--primary);
	color: var(--light);
}