<main class="container">
	<h1 class="text-center mt-3 mx-4 mb-4">Ajout d'un article</h1>
    <div class="row">
        <div class="mx-auto col-auto">
            <!-- titre -->

			<?php if($msg) : ?>
				<div class="alert alert-<?=$msg['type']?>" role="alert">
					<?= $msg['msg'] ?>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<?php endif; ?>
            <!-- espace formulaire -->
            <div class="card shadow">
                <form id="AjoutArticle" action="<?=URL?>admin/ajouter-article" method="post" enctype="multipart/form-data">
                    <!-- champs du formulaire -->
                    <div id="Ajout-body" class="card-body">
						<div class="form-row">
							<div class="form-group col-12">
								<label for="nom">Nom</label>
								<input type="text" class="form-control" id="nom" name="nom" required>
							</div>
						</div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="qte">Quantité</label>
                                <input type="number" class="form-control" id="qte" name="qte" min="1" required>
                            </div>
                            <div class="form-group col-6">
                                <label for="prix">Prix</label>
                                <input type="number" class="form-control" id="prix" name="prix" min="0.01" step="0.01" required>
                            </div>   
                        </div>
						<div class="form-row">
							<div class="form-group col-12 col-sm-6">
								<label for="cat">Catégorie</label>
								<select class="custom-select cursor-pointer" id="cat" name="cat">>
									<?php foreach($listCat as $cat) : ?>
									<option value="<?=$cat['idCat']?>">
										<?=$cat['nom']?>
									</option>
									<?php endforeach; ?>
								</select>
							</div>
							<div class="form-group col-12 col-sm-6">
								<label for="imageInput">Image</label>
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="imageInput" name="image">
									<label class="custom-file-label" for="imageInput"></label>
								</div>
							</div>
						</div>
                    </div>

                    <!-- bouton de confirmation -->
                    <div class="card-footer text-right">
                        <!-- confirmer la connexion -->
                        <button id="Ajout-bouton" class="btn btn-primary" name="submit" type="submit">
                            Ajouter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>