<main class="container">
	<h1 class="text-center mt-3 mx-4 mb-4">Changement du tri par défaut</h1>

	<div class="row">
		<div class="mx-auto col-auto">
			<?php if($msg) : ?>
				<div class=" alert alert-<?= $msg['type']?> alert-dismissible fade show " role="alert">
					<?= $msg['msg'] ?>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<?php endif; ?>
			<div class="card shadow">
				<div class="card-body">
					<form id="formTri" action="<?=URL?>admin/changer-tri" method="post">
						<div class="row">
							<div class="col-12 col-sm-6">
								<div class="form-row mb-3 mb-md-0">
									<label for="colonneInput" class="col-12 ">Colonne à trier :</label>
									<div class="col-12">
										<select id="colonneInput" class="custom-select" name="colonne" required>
											<option value="nom" <?=$curCol=='nom'?'selected':''?>>Nom</option>
											<option value="prix" <?=$curCol=='prix'?'selected':''?>>Prix</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-row">
									<label for="ordreInput" class="col-12">Ordre :</label>
									<div class="col-12">
										<select id="ordreInput" class="custom-select" name="ordre" required>
											<option value="1" <?=$curOrdre=='1'?'selected':''?>>Croissant</option>
											<option value="0" <?=$curOrdre=='0'?'selected':''?>>Décroissant</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer d-flex justify-content-end">
					<button form="formTri" class="btn btn-primary" name="submitTri">Valider</button>
				</div>
			</div>
		</div>
	</div>

</main>