<!-- si un traitement doit afficher une erreur, celle-ci est affichée ici -->
<div id="alert" class="articles row" hidden="hidden">
    <div class="text-center card position-fixed w-25" style="margin-left: 37.5%; z-index: 1000;">
        <div class="card-body">
            <h5 id="alertTitre" class="card-title text-primary font-weight-bold">Card title</h5>
            <p id="alertText" class="card-text text-danger"></p>
        </div>
        <div class="text-center">
            <img id="alertArticleImage" class="imgArticle" width="20%" src="" alt="erreur image">
            <br><strong id="alertArticleNom"></strong><br><br>
            <p class="text-primary" id="alertArticlePrix"></p><br><br>
        </div>
    </div>
</div>

<!-- carousel des nouveaux produits -->
<div id="carousel-new-arrivals" class="carousel slide carousel-fade w-100" data-ride="carousel">

    <!-- indicateurs -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-new-arrivals" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-new-arrivals" data-slide-to="1"></li>
        <li data-target="#carousel-new-arrivals" data-slide-to="2"></li>
    </ol>

    <!-- contenu -->
    <div class="carousel-inner w-100">
        <!-- publicité de l'album art de rue -->
        <div class="carousel-item active w-100" data-interval="9000" data-pause="hover">
            <img class="d-block position-relative img-fluid" src="<?=URL?>img/new_arrivals/art_de_rue_enorme.png" alt="1">
            <div id="capture-ff" class="carousel-caption d-none d-md-block text-left">
                <h5>L'album indispensable à écouter</h5>
                <p>Fonky Family - Art de rue</p>
            </div>
        </div>
        <!-- publicité de l'album skin -->
        <div class="carousel-item w-100" data-interval="9000" data-pause="hover">
            <img class="d-block position-relative img-fluid" src="<?=URL?>img/new_arrivals/skin_enorme.png" alt="2">
            <div id="capture-flume" class="carousel-caption d-none d-md-block text-left">
                <h5>Les morceaux cultes de Flume enfin en vinyle !</h5>
                <p>Flume - Skin</p>
            </div>
        </div>
        <!-- publicité du psykokwak -->
        <div class="carousel-item w-100" data-interval="9000" data-pause="hover">
            <img class="d-block position-relative img-fluid" src="<?=URL?>img/new_arrivals/psykokwak_enorme.png" alt="3">
            <div id="capture-psykokwak" class="carousel-caption d-none d-md-block text-left">
                <h5>Des Mau de tête grandeur nature</h5>
                <p>Peluche Psykokwak - 80cm</p>
            </div>
        </div>
    </div>
</div>

<!-- contenu principal -->
<main class="container">
    <h1 class="text-center mt-3 mx-4 mb-4">Liste des Articles</h1>
	<div class="row align-items-start">

        <!-- filtres et tri -->
		<div id="filters" class="col-12 col-md-4 col-xl-3 pb-2 mb-2" style="">
            <div id="liste-filtre" class="card rounded border border-primary">
                <!-- titre -->
                <div class="card-header border-bottom border-primary bg-primary" style="background-color: rgba(111,66,193, 0.25)">
                    <h3 class="pt-2 text-white">Filtrer et trier</h3>
                </div>

                <div class="card-body">
                    <!-- Filtres par catégorie -->
                    <form action="<?=URL?>index/index/" method="GET">
                        <div class="form-group">
                            <h4>Catégories</h4>
                            <?php foreach($categories as $id => $cat): ?>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input cursor-pointer" <?= in_array($id, $isChecked)?'checked':'' ?>
                                           id="cat<?= $id ?>" name="cat[]" value="<?= $id ?>">
                                    <label class="custom-control-label cursor-pointer" for="cat<?= $id ?>"><?= ucfirst($cat) ?></label>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <hr>
                        <!-- Filtres par prix -->
                        <div class="form-group">
                            <h4>Prix</h4>
                            <div class="form-row">
                                <div class="col-6">
                                    <label for="min" class="">Min</label>
                                    <input id="min" placeholder="0" type="text" name="min" min="0" class="form-control" value="<?= $min??'' ?>">
                                </div>
                                <div class="col-6">
                                    <label for="max">Max</label>
                                    <input id="max" placeholder="50" type="text" name="max" class="form-control" value="<?= $max??'' ?>">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- tri -->
						<div class="form-group">
							<h4><label for="tri">Tri</label></h4>
							<div class="form-row">
								<div class="col-12">
									<select id="tri" class="custom-select" name="tri" required>
										<option value="nom-1" <?=$curTri=='nom-1'?'selected':''?>>Nom - croissant</option>
										<option value="nom-0" <?=$curTri=='nom-0'?'selected':''?>>Nom - décroissant</option>
										<option value="prix-1" <?=$curTri=='prix-1'?'selected':''?>>Prix - croissant</option>
										<option value="prix-0" <?=$curTri=='prix-0'?'selected':''?>>Prix - décroissant</option>
									</select>
								</div>
							</div>
						</div>

                        <div class="row justify-content-center mx-2 mt-4">
                            <button class="btn btn-primary btn-sm" type="submit">Appliquer</button>
                        </div>
                    </form>
                </div>
            </div>
		</div>

        <!-- liste d'articles -->
		<div class="col-12 col-md-8 col-xl-9">
			<div id="listeArticle" class="row ml-md-0 mb-2">
				<?php foreach ($Article as $A): ?>
					<div class=" p-3 col-12 col-xl-6">
						<div class="card shadow position-relative">
							<div class="card-body row" data-article-id="<?=$A['idArticle']?>">
								<!-- Insère image-->
								<div class="col-12 col-sm-6 mb-3 mb-sm-0 text-center">
									<?php if ($A['img']!=null and file_exists(ROOT . 'public/img/articles/' . $A['img'])) : ?>
										<img id="<?=$A['nom']?>" class="w-100 imgArticle" src="<?=URL?>img/articles/<?=$A['img']?>" alt="<?=$A['nom']?>">
									<?php else: ?>
										<svg class="bi bi-eye-slash-fill w-100 p-4 p-md-3 p-lg-5 imgArticle" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
											<path d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
											<path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z"/>
											<path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
										</svg>
									<?php endif;?>
								</div>
								<div class="col-12 col-sm-6 d-flex flex-column descArticle">
									<h5 class="font-weigh t-bold"><?=$A['nom']?></h5>
									<p class="text-primary"><?=$A['prix']?>€</p>
									<p class="text-primary text-secondary"><?=ucfirst($categories[$A['idCat']])?></p>
									<div class="mt-auto">
										<?php if($A['qte']!=0) : ?>
											<button class ="btn btn-success">
												Ajouter<img class="imagePanier ml-2" src="<?=URL?>img/icon/cart_get_inside.png" alt="">
											</button>
										<?php endif; ?>
									</div>
								</div>
							</div>

							<?php if($A['qte']==0) : ?>
								<h2 class="article-epuise position-absolute w-100 h-100 display-3 font-weight-bold d-flex align-items-center justify-content-center">
									<span style="transform: rotate(-15deg)">ÉPUISÉ</span>
								</h2>
							<?php endif; ?>
						</div>
					</div>
				<?php endforeach; ?>
   			</div>
			<nav id="pagination" class="mb-5">
				<ul class="pagination justify-content-center">
					<li class="page-item <?=$curPage==1?'disabled':''?>">
						<a class="page-link h-100 d-flex align-items-center" href="<?=URL.'?'.$curGet?>&page=<?=$curPage-1?>"
						   aria-label="Previous" <?=$curPage==1?'tabindex="-1" aria-disabled="true"':''?>>
							<svg class="bi bi-caret-left-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
							</svg>
						</a>
					</li>
					<?php for ($i=1; $i<=$nbPages; $i++) : ?>
						<li class="page-item <?=$i==$curPage?'active':''?>">
							<a class="page-link" href="<?=URL.'?'.$curGet?>&page=<?=$i?>">
								<?=$i?>
								<?php if($i==$curPage): ?>
									<span class="sr-only">(current)</span>
								<?php endif; ?>
							</a>
						</li>
					<?php endfor; ?>
					<li class="page-item <?=$curPage==$nbPages?'disabled':''?>">
						<a class="page-link h-100 d-flex align-items-center" href="<?=URL.'?'.$curGet?>&page=<?=$curPage+1?>"
						   aria-label="Next" <?=$curPage==$nbPages?'tabindex="-1" aria-disabled="true"':''?>>
							<svg class="" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
							</svg>
						</a>
					</li>
				</ul>
			</nav>
		</div>

	</div>
</main>