<ul class="navbar-nav mr-auto">
	<li class="nav-item">
		<a class="nav-link <?= $app->view == 'index/index' ? 'active':'' ?>" href="<?=URL?>">
			Articles
			<?php if( $app->view == 'index/index'): ?>
				<span class="sr-only">(current)</span>
			<?php endif; ?>
		</a>
	</li>
</ul>
<ul class="navbar-nav">
	<li class="nav-item mr-3">
		<a class="nav-link align-items-center <?= $app->view == 'panier/index' ? 'active':'' ?> d-flex" href="<?=URL?>panier/index">
			Panier
			<svg class="bi bi-minecart ml-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M4 15a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8-1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM.115 3.18A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 14 12H2a.5.5 0 0 1-.491-.408l-1.5-8a.5.5 0 0 1 .106-.411zm.987.82l1.313 7h11.17l1.313-7H1.102z"/>
			</svg>
		</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link active d-flex align-items-center" data-toggle="modal" data-target="#connexion-modal">
			Connexion
			<svg class="bi bi-power ml-2 " width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
				<path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
			</svg>
		</a>
	</li>
</ul>