<header class="bg-primary w-100 shadow position-sticky">
	<div class="container">
		<nav class="row navbar navbar-expand-md navbar-dark">
			<a class="navbar-brand mr-4" href="<?=URL?>">
				<img src="<?=URL?>img/logo/airmazon_white.png" height="60" class="d-inline-block align-top" alt="AIRmazone" loading="lazy">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<?php
                if($app->authen->isLogged()) {
                    if($app->user->isAdmin())
                        require_once APP .'views/_templates/menu/menuAdmin.phtml';
                    else
                        require_once APP .'views/_templates/menu/menuUser.phtml';
                }
                else
                    require_once APP .'views/_templates/menu/menuGuest.phtml';
                ?>
			</div>
		</nav>
	</div>
</header>