<?php use App\Lib\Helper; ?>
<ul class="navbar-nav mr-auto">
	<li class="nav-item">
		<a class="nav-link <?= $app->view == 'admin/ajouter-article' ? 'active':'' ?>" href="<?=URL?>admin/ajouter-article">
			Ajout d'articles
			<?php if( $app->view == 'admin/ajouter-article'): ?>
				<span class="sr-only">(current)</span>
			<?php endif; ?>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link <?= $app->view == 'admin/changer-tri' ? 'active':'' ?>" href="<?=URL?>admin/changer-tri">
			Tri par défaut
			<?php if( $app->view == 'admin/changer-tri'): ?>
				<span class="sr-only">(current)</span>
			<?php endif; ?>
		</a>
	</li>
</ul>
<ul class="navbar-nav">
	<li class="nav-item dropdown">
		<a id="userMenu" class="active nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <?= Helper::e($app->user->getPrenom()) ?> <?= Helper::e($app->user->getNom()) ?>
		</a>
		<div class="dropdown-menu dropdown-menu-right"  aria-labelledby="userMenu" >
			<a class="dropdown-item d-inline-flex justify-content-between align-items-center" href="<?=URL?>user/logout">
				Déconnexion
				<svg class="bi bi-power ml-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
					<path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
				</svg>
			</a>
		</div>
	</li>
</ul>