<!-- Modal -->
<div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="margin-top: 10%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="validationModalLabel">Validation de votre commande</h5>
            </div>
            <div class="modal-body">
                <div id="validationModalText" class="text-center  text-primary">
                    <div class="spinner-border font-weight-bold" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div id="passerAuPayementBtn" class="modal-footer" hidden="true">
                <button type="button" class="btn btn-success">Passer au paiement</button>
            </div>
        </div>
    </div>
</div>

<main class="container">
    <h1 class="text-center mt-3 mx-4 mb-4">Panier</h1>
    <div class="articles">
        <table class="table w-75" id="panierTable">
            <thead>
                <tr class="bg-primary text-white">
                    <th scope="col"></th>
                    <th scope="col">Nom du produit</th>
                    <th scope="col" class="text-right">Prix unitaire</th>
                    <th scope="col" class="text-right">Quantité</th>
                    <th scope="col" class="text-right">Prix total</th>
                    <th scope="col"class="text-right"></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($panier as $key => $val4ue) : ?>
                <tr id="<?= $panier[$key]["idArticle"] ?>">
                    <td class="text-center">
                        <?= '<img src="'.URL.'img/articles/'.$panier[$key]['img'].'" height="75">' ?>
                    </td>
                    <td class="align-middle">
                        <?= $panier[$key]['nom'] ?>
                    </td>
                    <td class="text-right px-3 align-middle">
                        <span>
                            <?= $panier[$key]['prix']."€" ?>
                        </span>
                    </td>
                    <td width="175" class="text-right align-middle">
                        <input class="quantitee form-control d-inline-block w-50" size=2 type="number" value="<?= $panier[$key]['qte'] ?>" max="<?= $panier[$key]['qteArticle'] ?>" min=1>
                    </td>
                    <td class="text-right px-3 align-middle">
                        <span>
                            <?= number_format ($panier[$key]['prix']*$panier[$key]['qte'], 2)."€" ?>
                        </span>
                    </td>
                    <td class="text-center align-middle">
                        <button class="delete btn btn-danger align-middle">
                            <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                            </svg>
                        </button>
                    </td>
                </tr>
            <?php endforeach;  ?>
            <tr >
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right font-weight-bold align-middle">Total:</td>
                <td id="prixTotal" class="text-right font-weight-bold px-3 align-middle">
                    <?= $total."€" ?>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="payer-btn" class="text-right">
        <?php if ($app->user->isGuest()): ?>
        <span width="65">
            <button class="btn btn-success align-middle" data-toggle="modal" data-target="#connexion-modal">
                Se connecter
                <svg class="bi bi-power ml-2 " width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
				<path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
			</svg>
            </button>
        </span>
        <?php else: ?>
        <span width="65">
            <button id="validationPanierBtn" class="btn btn-success align-middle" data-toggle="modal" data-target="#validationModal">
                Valider et payer
                <svg class="bi bi-credit-card" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                    <rect width="3" height="3" x="2" y="9" rx="1"/>
                    <path d="M1 5h14v2H1z"/>
                </svg>
            </button>
        </span>
        <?php endif; ?>
    </div>
</main>