<main class="container">
    <div class="row pt-3 justify-content-center ">
        <div class="col-auto">
            <!-- titre -->
            <h1 class="mt-3 mx-4 mb-4">Inscription</h1>

            <!-- espace formulaire -->
            <div class="card shadow">
                <form id="formRegister" action="<?=URL?>user/register">
                    <!-- champs du formulaire -->
                    <div id="inscription-body" class="card-body">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control inscription-field" id="email" name="email">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nom">Nom</label>
                                <input type="text" class="form-control inscription-field" id="nom" name="nom">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="prenom">Prénom</label>
                                <input type="text" class="form-control inscription-field" id="prenom" name="prenom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mdp1">Mot de passe</label>
                            <input type="password" class="form-control inscription-field" id="mdp1" name="mdp1">
                        </div>
                        <div class="form-group">
                            <label for="mdp2">Confirmation</label>
                            <input type="password" class="form-control inscription-field" id="mdp2" name="mdp2">
                        </div>
                    </div>

                    <!-- bouton de confirmation -->
                    <div class="card-footer">
                        <!-- confirmer la connexion -->
                        <button id="inscription-bouton" class="btn btn-primary" name="submit" type="submit">
                            S'inscrire
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>