/*new arrivals*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    transition: transform 2s ease;
}

@media (max-width: 1080px) {
    #capture-ff, #capture-flume, #capture-psykokwak {
        top: 15%;
        right: 20%;
        width: 30%;
    }

    #capture-ff h5,
    #capture-flume h5,
    #capture-psykokwak h5{
        font-size: 20pt !important;
    }
}


@media (min-width: 1080px) {
    #capture-ff, #capture-flume, #capture-psykokwak {
        top: 30%;
        right: 20%;
        width: 30%;
    }

    #capture-ff h5,
    #capture-flume h5,
    #capture-psykokwak h5{
        font-size: 30pt !important;
    }
}

#listeArticle .imgArticle{
    height: 200px;
    min-width: 150px;
    /*garder les mêmes dimensions pour l'images*/
    object-fit: contain;
}
#listeArticle svg.imgArticle {
    color : lightgray;

}
.imagePanier {
    height : 1.5rem;
    vertical-align: bottom;
}

@media (max-width: 575px) {
    #listeArticle .descArticle{
        text-align: center;
    }
}

@media (min-width: 768px) {
    #filters {
        position: sticky;
        top:7.5rem;
        height: 80%;
    }
}

::placeholder {
    opacity: 30% !important
}

.card {
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.card:hover{
    box-shadow: 0px 0px 12px #aaa;
}

body {
    background-color: #f2f2f2;
}


/* articles */
#listeArticle .card{
    position: relative;
    top:0;
    transition: all 0.3s;
}

#listeArticle .card:hover{
    background-color: var(--light);
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15) !important;
    top: 0.25rem !important;
}

#listeArticle .article-epuise {
    background-color: #d0d0d0;
    color: #343a40;
    font-size: 6rem;
    opacity: 0.6;
}
