<main class="container">
	<div class="row mt-5">
		<div class="mx-auto col-auto" style="max-width: 500px;">
			<div class="card border-success shadow">
				<h3 class="card-header bg-success text-white">
					Commande confirmée
				</h3>
				<div class="card-body ">
					<p>
						Votre paiement a été effectué et votre commande a bien été validée.<br>
						Vous pouvez la retrouver dans votre <a href="<?=URL?>espace-perso">espace personnel</a>
					</p>
				</div>
				<div class="card-footer d-flex justify-content-end">
					<a class="btn btn-success text-white" href="<?=URL?>">Retour à l'accueil</a>
				</div>
			</div>
		</div>
	</div>
</main>