<main class="container">
	<h1 class="text-center mt-3 mx-4 mb-4">Paiement</h1>

	<div class="row">
		<div class="mx-auto col-auto w-100" style="max-width: 500px;">
			<?php if($msg) : ?>
				<div class=" alert alert-<?= $msg['type']?> alert-dismissible fade show " role="alert">
					<?= $msg['msg'] ?>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<?php endif; ?>
			<div class="card shadow">
				<div class="card-body">
					<h4 class="text-primary font-weight-bold text-center pb-3 border-bottom mb-3">
						Montant de la commande : <?=$sommeTotale?>€
					</h4>

					<form id="formPaiement" action="<?=URL?>paiement" method="post">
						<div class="form-row">
							<div class="form-group col-12">
								<label for="numCarteInput1" class="">Numéro de carte</label>
								<div class="form-row">
									<div class="col-3">
										<input id="numCarteInput1" class="form-control inputCB" name="numCarte1" required maxlength="4" pattern="^[0-9]{4}$">
									</div>
									<div class="col-3">
										<input id="numCarteInput2" class="form-control inputCB" name="numCarte2" required maxlength="4" pattern="^[0-9]{4}$">
									</div>
									<div class="col-3">
										<input id="numCarteInput3" class="form-control inputCB" name="numCarte3" required maxlength="4" pattern="^[0-9]{4}$">
									</div>
									<div class="col-3">
										<input id="numCarteInput4" class="form-control inputCB" name="numCarte4" required maxlength="4" pattern="^[0-9]{4}$">
									</div>
								</div>

							</div>
						</div>
						<div class="form-row">
							<div class="col-12 col-sm-6 mb-3 mb-sm-0 ">
								<label for="monthInput">Date d'expiration</label>
								<div class="input-group">
									<input id="moisInput" name="mois" type="text" class="form-control" placeholder="MM" aria-label="Mois"  maxlength="2" pattern="^0[1-9]|1[0-2]$">
									<div class="input-group-append input-group-prepend ">
										<span class="input-group-text" id="basic-addon1">/</span>
									</div>
									<input id="anneeInput" name="annee" type="text" class="form-control" placeholder="AAAA" aria-label="Année"  maxlength="4" pattern="^[0-9]{4}$">
								</div>
								<!--<label for="anneeInput">Date d'expiration</label>
								<input id="anneeInput" class="form-control col-auto" name="numCarte" required placeholder="MM" size="2">/
								<input id="moisInput" class="form-control col-auto" name="numCarte" required placeholder="AAAA" size="4">-->
							</div>
							<div class="col-12 col-sm-6">
								<label for="cryptoInput">Cryptogramme</label>
								<input id="cryptoInput" class="form-control" name="crypto" required pattern="^[0-9]{3}$" maxlength="3">
							</div>

						</div>
					</form>
					<div class="d-flex justify-content-center flex-wrap pt-3 mt-4 border-top">
						<div class="col-auto">
							<img class="w- 100" style="max-height: 40px" src="<?=URL?>img/logo/logo-cb.jpg" alt="CB">
						</div>
						<div class="col-auto">
							<img class="w- 100" style="max-height: 40px" src="<?=URL?>img/logo/logo-mastercard.png" alt="CB">
						</div>
						<div class="col-auto">
							<img class="w -100" style="max-height: 40px" src="<?=URL?>img/logo/logo-visa.png" alt="CB">
						</div>
					</div>
				</div>
				<div class="card-footer d-flex justify-content-end">
					<button form="formPaiement" class="btn btn-primary" name="submitPaiement">Valider</button>
				</div>
			</div>
		</div>
	</div>
</main>