<main class="container">
	<h1 class="text-center mt-3 mx-4 mb-4">Liste des commandes</h1>
	<?php foreach($commandes as $commande): ?>
	<div class="col-12 offset-lg-1 col-lg-10 offset-xxl-2 col-xxl-8">
		<div class="card mb-4 border-primary">
			<h4 class="card-header d-flex justify-content-between align-items-center cursor-pointer border-primary" style="background-color: rgba(111,66,193, 0.25)"
				data-toggle="collapse" data-target="#commande<?=$commande['idCommande']?>" aria-expanded="false" aria-controls="commande<?=$commande['idCommande']?>">
				<span class="">Commande n°<?=$commande['idCommande']?> du <?=$commande['date']?></span>
				<span class="collapse-icon text-monospace">+</span>
				<span class="collapse-icon text-monospace d-none">-</span>
			</h4>
			<div class="card-body collapse" id="commande<?=$commande['idCommande']?>">
				<table class="table border mb-0">
					<thead>
						<tr class="bg-primary text-white">
							<th scope="col"></th>
							<th scope="col" class="p-3">Nom du produit</th>
							<th scope="col" class="text-right p-3">Prix unitaire</th>
							<th scope="col" class="text-right p-3">Quantité</th>
							<th scope="col" class="text-right p-3">Prix total</th>
						</tr>
					</thead>
					<tbody>
						<?php
						$totalCom = 0;
						foreach ($commande['articles'] as $a) :
							$article = $articles[$a['idArticle']];
							$total = (double)$article['prix'] * $a['qte'];
							$totalCom += $total;
							?>
							<tr>
								<td class="text-center">
									<?php if ($article['img']!=null and file_exists(ROOT . 'public/img/articles/' . $article['img'])) : ?>
										<img height="100" id="<?=$article['nom']?>" class="w-100 imgArticle" src="<?=URL?>img/articles/<?=$article['img']?>" alt="<?=$article['nom']?>">
									<?php else: ?>
										<svg class="bi bi-eye-slash-fill w-100 p-3 imgArticle" height="100" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
											<path d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
											<path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z"/>
											<path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
										</svg>
									<?php endif;?>
								</td>
								<td class="align-middle p-3">
									<?= $article['nom'] ?>
								</td>
								<td class="text-right p-3 align-middle">
                            		<?= $article['prix']?>€
								</td>
								<td class="text-right p-3 align-middle">
									<?= $a['qte'] ?>
								</td>
								<td class="text-right p-3 align-middle">
									<span>
										<?= number_format($total,2)?>€
									</span>
								</td>
							</tr>
						<?php endforeach;  ?>
						<tr>
							<th colspan="4" class="text-right font-weight-bold">
								TOTAL
							</th>
							<td class="text-right font-weight-bold">
								<?= number_format($totalCom,2)?>€
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<?php endforeach; ?>
</main>