</div>

<div class="modal fade" id="connexion-modal" tabindex="-1" role="dialog" aria-labelledby="connexion-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formConnexion" action="<?=URL?>user/connexion">
            <div class="modal-content">
                <div id="connexion-header" class="modal-header align-items-center">
                    <h2 class="modal-title" id="connexion-modal-label">Connexion</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
				<!-- Alert ici -->
                <div id="connexion-body" class="modal-body">
                    <div class="form-group">
                        <label for="email-connexion">
                            Nom d'utilisateur
                        </label>
                        <input type="email" class="form-control" id="email-connexion"
                               aria-describedby="emailHelp" name="email">
                        <small id="emailHelp" class="form-text text-muted">
                            Votre nom d'utilisateur est votre adresse e-mail
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="mdp-connexion">Mot de passe</label>
                        <input type="password" class="form-control" id="mdp-connexion" name="mdp" required>
                    </div>
                </div>

                <div id="connexion-body" class="modal-footer justify-content-start bg-light">
                    <button type="submit" class="btn btn-primary" id="connexion-submit">
                        Valider
                    </button>
                    <a href="<?=URL?>user/show-register" class="pl-2">Pas encore inscrit ?</a>
                </div>
            </div>
        </form>
    </div>
</div>

<footer class="container-fluid bg-dark text-white-50">
    <div id="informations" class="row justify-content-around align-items-center py-3">
        <div class="col-2 d-flex flex-column justify-content-center text-center">
            <div>
                <svg class="bi bi-shield-lock" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
                    <path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    <path d="M7.411 8.034a.5.5 0 0 1 .493-.417h.156a.5.5 0 0 1 .492.414l.347 2a.5.5 0 0 1-.493.585h-.835a.5.5 0 0 1-.493-.582l.333-2z"/>
                </svg>
            </div>
            <span><strong>Paiement sécurisé</strong></span>
            <div class="d-inline">
                <img src="<?=URL?>img/icon/cb-white.png" alt="cb">
                <img src="<?=URL?>img/icon/mc-white.png" alt="mc">
                <img src="<?=URL?>img/icon/visa-white.png" alt="visa">
            </div>
        </div>

        <div class="col-2 d-flex flex-column justify-content-center text-center">
            <div class="text-center">
                <svg class="bi bi-emoji-smile" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/>
                    <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                </svg>
            </div>
            <span><strong>Satisfait ou remboursé</strong></span>
        </div>

        <div class="col-2 d-flex flex-column justify-content-center text-center">
            <div>
                <svg class="bi bi-truck" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5v7h-1v-7a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5v1A1.5 1.5 0 0 1 0 10.5v-7zM4.5 11h6v1h-6v-1z"/>
                    <path fill-rule="evenodd" d="M11 5h2.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5h-1v-1h1a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4.5h-1V5zm-8 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                    <path fill-rule="evenodd" d="M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                </svg>
            </div>
            <span><strong>Livraison en 48h*</strong></span>
            <small>*Même pendant le confinement</small>
        </div>

        <div class="col-2 d-flex flex-column justify-content-center text-center">
            <div id="livraison-info">
                <svg class="bi bi-credit-card" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                    <rect width="3" height="3" x="2" y="9" rx="1"/>
                    <path d="M1 5h14v2H1z"/>
                </svg>
            </div>
            <span><strong>Frais de port offerts</strong> à partir de 100€ d'achat</span>
        </div>
    </div>

    <hr>

    <div id="paiement-contact" class="row justify-content-center align-items-start pt-2">
        <div id="contact" class="col-auto d-flex flex-column">
            <span class="text-center">
                <svg class="bi bi-chat-square-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                <strong>Gardons contact</strong>
            </span>
            <address class="d-inline text-center">
                <span><u>(+33) 1 46 61 81 76</u></span><br>
                <span><u>jooj@jooj.io</u></span><br>
                <span>Villetaneuse, Ile-de-France | 93430 France</span>
            </address>
        </div>
    </div>

    <div id="cr" class="row justify-content-center">
        <div class="col-auto text-center">
            <span>© AIRmazon 2020</span>
        </div>
    </div>
</footer>

<script src="//code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="<?=URL?>assets/bootstrap/js/bootstrap.js"></script>


<script> const URL = "<?=URL;?>"</script>
<script src="<?= URL ?>js/_template.js"></script>
<?php if(file_exists(ROOT . 'public/js/' . $app->view . '.js')) : ?>
    <script src="<?= URL . 'js/' . $app->view . '.js' ?>"></script>
<?php endif; ?>
</body>
</html>