<?php /** @var $app \App\Core\Application */?>
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title><?=CONFIG['app']['name']?></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="icon" type="image/png" href="<?=URL?>img/logo/airmazon_favicon.png" />
		<link rel="stylesheet" href="<?=URL?>assets/bootstrap/css/custom.css">
		<script src="https://kit.fontawesome.com/7ad19653b0.js" crossorigin="anonymous"></script>

		<link href="<?=URL?>css/_template.css" rel="stylesheet">
		<?php if(file_exists(ROOT . 'public/css/' . $app->view . '.css')) : ?>
			<link rel="stylesheet" href="<?= URL . 'css/' . $app->view . '.css' ?>" type="text/css">
		<?php endif; ?>
	</head>
	<body class="d-flex flex-column min-vh-100">
		<?php require_once APP.'views/_templates/menu/menu.phtml'; ?>
		<div class="flex-grow-1">
